#panel1 {
    position: center;
}

#panel2 {
    position: center;
}

#screen {
    width: 100%;
    height: 100vh;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.checkbox {
    padding-left: 40px;
}