{% extends "base.html" %}
{% block content %}
<!-- <script>
    console.log({{patientIds}});
</script> -->
    <div class="row">
        <div class="col-2 align-self-start border" id="menu">
          <h3>Menu</h3>
          <form method="POST" action="/survey">
            <input type="submit" value="Survey Data">
          </form>
          <form method="GET" action="/">
            <input type="submit" value="Main Menu">
          </form>
        </div>
        <div class="col-5 align-self-start panel1 border" id="panel1">
          <h3>Patient 1</h3>
          <form method="POST" action="/survey">
              <label for="#patient1">ID:</label>
              <select id="patient1" name="patient1" onchange="this.form.submit()">
                <option value="{{ids[0]}}">{{ids[0]}}</option>
                {% for patient in patientIds %}
                    <option value="{{patient}}">{{patient}}</option>
                {% endfor %}
            </select>
          </form>
            <div class="row">
              <div class="col-5" id="panel1Viz"></div>
            </div>
            <div class="row">
            <form method="POST" action="/survey">
              <div class="col-5" id="panel1Options">
                <div class="form-check form-check-inline">
                    {% if "mood" in ticked%}
                        Mood  <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="mood" checked/>   
                    {% else %}
                        Mood <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="mood"/>
                    {% endif %}   
                    {% if "sleep" in ticked%}
                        Sleep <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="sleep" checked/>
                    {% else %}
                        Sleep <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="sleep"/>
                    {% endif %}
                    {% if "social" in ticked %}
                        Social <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="social" checked/>
                    {% else %}
                        Social <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="social"/>
                    {% endif %}
                    {% if 'anxiety' in ticked %}
                        Anxiety <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="anxiety" checked/>
                    {% else %}
                        Anxiety <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="anxiety"/>
                    {% endif %}
                    {% if 'psychosis' in ticked %}
                        Pyschosis <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="psychosis" checked/>
                    {% else %}
                        Pyschosis <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="psychosis"/>
                    {% endif %}
                    <input type="submit" class="checkbox" value="Visualize!">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-5 align-self-start panel2 border" id="panel2">
          <h3>Patient 2</h3>
            <form method="POST" action="/survey">
                <label for="#patient2">ID:</label>
                <select id="patient2" name="patient2" onchange="this.form.submit()">
                    <option value="{{ids[0]}}">{{ids[1]}}</option>
                    {% for patient in patientIds %}
                        <option value="{{patient}}">{{patient}}</option>
                    {% endfor %}
                </select>
            </form>
          <div class="row">
              <div class="col-5" id="panel2Viz"></div>
          </div>
          <div class="row">
            <form method="POST" action="/survey">
              <div class="col-5" id="panel2Options">
                <div class="form-check form-check-inline">
                    {% if "mood" in ticked%}
                        Mood  <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="mood" checked disabled/>   
                    {% else %}
                        Mood <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="mood" disabled/>
                    {% endif %}   
                    {% if "sleep" in ticked%}
                        Sleep <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="sleep" checked disabled/>
                    {% else %}
                        Sleep <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="sleep" disabled/>
                    {% endif %}
                    {% if "social" in ticked %}
                        Social <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="social" checked disabled/>
                    {% else %}
                        Social <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="social" disabled/>
                    {% endif %}
                    {% if 'anxiety' in ticked %}
                        Anxiety <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="anxiety" checked disabled/>
                    {% else %}
                        Anxiety <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="anxiety" disabled/>
                    {% endif %}
                    {% if 'psychosis' in ticked %}
                        Pyschosis <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="psychosis" checked disabled/>
                    {% else %}
                        Pyschosis <input class="form-check-input checkbox" type="checkbox" name="p2SurveyCols" value="psychosis" disabled/>
                    {% endif %}
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock content %}